name: ci-golang-workflow
on:
  pull_request:
    branches:
      - development
jobs:
  check-application:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with: 
          go-version: 1.17

      - name: Run Tests 
        run: go test
      
      - name: Run Application
        run: go run main.go
